doctype
html
	include head.pug
	body
		header.main-header-grid
			div(class="item-header" style='background-image: url(/images/header-3.JPG)').header-content
				h1 Zinchenko Oksana
				h2 Photography
				div.header-buttons
					a(href="#follow" class="button") Follow
					a(href="#in" class="button-right button") Go Home
		menu.grid
			div(class="item" style='background-image: url(/images/1.JPG)').grid_1-1-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/2.JPG)').grid_1-2-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/3.JPG)').grid_1-3-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/4.JPG)').grid_2-1-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/5.JPG)').grid_2-2-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/6.JPG)').grid_2-3-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/7.JPG)').grid_3-1-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/8.JPG)').grid_3-2-4
				span Cool Photo
			div(class="item" style='background-image: url(/images/9.JPG)').grid_3-3-4
				span Cool Photo
		.container
			div.zinya
			div.article 
				h3 About me
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
			div(class="autoport" style='background-image:url(/images/autoport.jpg)')
		div.form-grid#in
			div.q-1
				input(type="text" placeholder="Your name")
			div.q-2
				input(type="text" placeholder="+38(0..)...")
			div.q-3
				input(type="text" placeholder="your@mail")
			div.q-4.button.button-in I'm in
		h5 Services and Prices
		div.services-home
			a(href="#" class="services-item" class="sv-1")
				div(class="services-item-img" style='background-image:url(/images/sv1.jpg)')
				div.services-item-content
					h4 Service
					p Description of service or type of photosession Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a(href="#" class="services-item" class="sv-2")
				div(class="services-item-img" style='background-image:url(/images/sv2.jpg)')
				div.services-item-content
					h4 Service
					p Description of service or type of photosession Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a(href="#" class="services-item" class="sv-3")
				div(class="services-item-img" style='background-image:url(/images/sv3.jpg)')
				div.services-item-content
					h4 Service
					p Description of service or type of photosession Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a(href="#" class="services-item" class="sv-4")
				div(class="services-item-img" style='background-image:url(/images/sv4.jpg)')
				div.services-item-content
					h4 Service
					p Description of service or type of photosession Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a(href="gallery.html" class="services-item" class="sv-5")
				div(class="services-item-img" style='background-image:url(/images/sv5.jpg)')
				div.services-item-content
					h4 Service
					p Description of service or type of photosession Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a(href="#" class="services-item" class="sv-6")
				div(class="services-item-img" style='background-image:url(/images/sv6.jpg)')
				div.services-item-content
					h4 Service
					p Description of service or type of photosession Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		include footer.pug